header {
  background-color: red;
}

nav ul li {
  border: 1px solid green;
  display: inline-block;
  border-color: blue;
  
}
nav ul li a{
   text-decoration: none;
}
#cloroyellow {
  background-color: yellow
}
#imgid {
  border: 5px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
#footerid {
  background-color: lightblue;
  display: inline-block;

}